input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 2px 8px;
    border: none;
    background-color: rgba(227, 193, 180, 0.495);
    transition: 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: rgb(227, 61, 61);
    color: white;
}

.hideScrollbar::-webkit-scrollbar {
    display: none;
}

.inputImage[type="file"] {
    color: transparent;
}

.inputImage[type="file"]::file-selector-button {
    display: none;
}